@import "tailwindcss";

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --font-bebas: var(--font-bebas);
  --font-main: var(--font-satoshi);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
    overflow: hidden;
  }
  to {
    height: var(--radix-accordion-content-height);
    overflow: hidden;
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
    overflow: hidden;
  }
  to {
    height: 0;
    overflow: hidden;
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fabe12;
  --primary-foreground: #010100;
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --border: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
}

@layer base {
  * {
    @apply border-border;
    margin: 0;
    padding: 0;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-satoshi, Arial, Helvetica, sans-serif);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-bebas, Arial, Helvetica, sans-serif);
    letter-spacing: 0.02em;
  }
}
